html, body {
  margin: 0;
}

#page {
  width: 100vw;
  height: 100vh;
  background-image: url('palms.jpg');
  background-size: cover;
  background-repeat: none;
}

#quote-box {
  position: relative;
  top: 20%;
  width: 50%;
  margin: 0 auto;
  background-color: black;
  border: solid 3px white;
  border-radius: 15px;
  padding: 5%;
}

#text {
  color: white;
}

#author {
  color: white;
}

#bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#new-quote {
  padding: 1.5%;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s;
}

#new-quote:hover {
  background-color: gray;
  transition: 0.5s;
}
